@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

.building-checkbox {
    margin-right: 20px;
}

.building-checkbox input {
    margin-bottom: 15px;
}

.level-checkbox input {
    margin-bottom: 14px;
}

.user-details-table {
    font-size: small;
}


hr {
    color: gray;
}

.file-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 100%;
}

/* Style for the button */
.file-btn {
    padding: 10px 5px;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
.file-btn1 {
    padding: 10px 5px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

/* Style for the file input */
.file-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
}
.add-permit-input {
    padding: 9px;
    width: 200px;
    height: 46px;
    border: 1.5px solid #D9D9D9;
    color: #acacac;
    margin-right: 10px;
}
.submit-btn {
    background-color: #3876E3;
  border-radius: 8px;
  padding: 10px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: bold;
  width: 180px;
}
.input-search {
    background-color: #F7F7F7;

}
.site{
    width: 403px;
    height: 46px;

}
.building-textArea{
    width: 410px;
    height: 102px;
    border: 1px solid #DADADA;
    border-radius: 5px;
    background-color: #FAFAFA;
    margin-left: -100px;
}
/* .secTion{
    width: 180px;
    height: 46px;
    border: 1px solid #DADADA;
    border-radius: 5px;
    /* justify-content: center;
    align-items: center;
    display: flex;
    text-overflow: hidden; */
 
/* .secTion p{
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 11px;
    margin-top: 11px;
    color: #1d1a17;
    font-weight: 400;


} */
.secTion input{
    width: 180px;
    height: 46px;
    border: 1px solid #DADADA;
    border-radius: 5px;
   
}
input[type="text"]::placeholder{
    /* overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */
    font-size: 14px;
    color: #1d1a17;
    font-weight: 400;
    text-indent:9px;
}
.btn-child-permit{
    margin-top: 30px;
    border: dotted;

    
}