.sidebar-wrapper {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: #022088;
    color: white;
    padding-top: 10px;
    padding-left: 4px;
    padding-right: 4px;
  }
  
  .sidebar-wrapper a {
    text-decoration: none;
    color: #A0AEC0;
    padding: 9px;
    font-weight: bold;
    border-radius: 10px;
    margin: 5px 0;
    transition: background-color 0.3s;
  }
  .active-tap {
    background-color: #fff;
    color: #022088 !important;
  }
  .sidebar-wrapper a:hover {
    background-color: white; 
    color: #022088;
  }
  .sidebar-wrapper NavLink{
    font-weight: 700;
    font-family: poppins;
    
  }
  .link-margin {
    margin-right: 5px;
  }
  .home-icon {
    background-color: #022088;
    color: #fff;
    padding: 7px;
    border-radius: 8px;
  }
  .navlink-container {
    display: flex;
    align-items: center;

  }