.user-details-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .user-details-table th {
    background-color: #f2f2f2; /* Light gray color for the header */
    border: 1px solid #dddddd; /* Light gray border color */
    padding: 8px;
    text-align: left;
  }
  
  .user-details-table td {
    border: 1px solid #dddddd;
    padding: 8px;

  }

  .add-user1{
    border: 3px solid #dddddd;
    padding: 2px;
    border-radius:5px;
    width: 60%;
    margin-left: 3%;
  }

  .add-user2{
    border: 3px solid #dddddd;
    padding: 2px;
    border-radius:5px;
    width: 60%;
    margin-left: 3%;
  }

  
