.mypermits-container {

}
.list-permits-top-container {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;

}
.modal-backdrop {
  filter: blur(5px); /* Adjust the blur value as needed */
} 
.resumit-btn {
  border: none;
  outline: none;
  background-color: #508aef;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #fff;
  font-size: 12px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.resumit-btn:hover {
  background-color: #3876E3;
}
.permits-btn-search-container {
    display: flex;
    align-items: center;
}
.permits-btn{
  background-color: #3876E3;
  border-radius: 8px;
  padding: 10px;
  border: none;
  font-weight: 550;
  outline: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: center;
  width: 180px;
}
.search-input {
    padding: 10px;
    background-color: #F7F7F7;
    border-radius: 8px;
    border: none;
    outline: none;
    margin-left: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 207px;
}

/* Table.module.css */
.customTable {
    border-collapse: collapse;
    width: 100%;
  }
  
  .customTable th,
  .customTable td {
    padding: 8px;
    background-color: #f0f0f0; /* Set background color for cells */
    border: none; /* Remove borders */
  }
  
  .customTable th {
    font-weight: bold;
    background-color: #f0f0f0; /* Set background color for header cells */
  }

  .customTable tr {
    padding: 5px;
  }
  
  .customTable tbody tr:nth-child(even) {
    background-color: #f0f0f0; /* Set background color for even rows */
  }
  
  .customTable tbody tr:hover {
    background-color: #e0e0e0; /* Set background color for hovered rows */
  }
  .pending-style {
    background-color: #FFF7E6;
    border-radius: 8px;
    color: #ab6a00;
    display: flex;
    font-weight: 400;
    font-size: 12px;
    justify-content: center;
    text-shadow: #000;
    align-items: center;
  }
  .canceled {
    font-weight: 400;
    background-color: #d00505;
    border-radius: 13px;
    padding: 4px !important;
    font-size: 12px !important;
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;
  }
  .success {
    background-color: #F6FFED;
    color:#50b602;
    border: 1px solid #B7EB8F;
    border-radius: 13px;
    padding: 4px !important;
    font-size: 12px !important;
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;
}
  .success-style {
    background-color: #cdb921;
    color: #B7EB8F;
  }
  .permit-search-btn {
    border: none;
    outline: none;
    background-color: transparent;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    color: #BFBFBF;
  }